services:
  db:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: tarot_db
      MYSQL_USER: tarot_user
      MYSQL_PASSWORD: tarot_pass
      MYSQL_ROOT_PASSWORD: root_password
    volumes:
      - mysql_data:/var/lib/mysql
      - ./db:/docker-entrypoint-initdb.d:ro
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root -p$MYSQL_ROOT_PASSWORD"]
      timeout: 5s
      interval: 5s
      retries: 10

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped
    volumes:
      - ollama_data:/root/.ollama
      - ./entrypoint.sh:/entrypoint.sh
    ports:
      - "11434:11434"
    entrypoint: ["/usr/bin/bash", "/entrypoint.sh"]
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: all
    #           capabilities: [gpu]

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: digital_oracle
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: tarot_user
      DB_PASSWORD: tarot_pass
      DB_NAME: tarot_db
      OLLAMA_URL: http://ollama:11434
    volumes:
      - app_data:/app
    depends_on:
      db:
        condition: service_healthy
      ollama:
        condition: service_started

volumes:
  mysql_data:
  ollama_data:
  app_data: